/* .about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}
.image-container{
    width: 100%;
    height: 100%;
}
.into-img{
   max-width: 100%;
   height: auto;

} */
.left h3{
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}
.left p {
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}
.about{
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    align-items: center;
    justify-content: center;
    
    display: flex;
    flex-wrap: wrap;
    
}
.about .left{
    align-items: center;
    margin: auto;
    max-width: 500px;
}
.about .right{
    max-width: 700px;

}
.right .image-container{
display: grid;
grid-template-columns: 12 , 1fr;
position: relative;
align-items: center;
text-align: center;
}
.right .img{
max-width: 90%;
height: 40px;

}


@media screen and (max-width:700px) {
    .about .left{
        align-items: center;
        margin: 20px;
        max-width: 500px;
    }
}