.mask{
    width: 100%;
    height: 0vh;
    position: relative;
    
    /* background-repeat: no-repeat; */
}
.mask img{
    /* height: 100px; */
width: 100%;
height: 100%;
position: center;
background-position: cover;
background-size: contain;
object-fit: center;
z-index: 10;
opacity: 1;
}


.content{
    font-size: larger;

}
.mask::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}
.hero{
    width: 100%;
    height: 100%;
}
.hero .content{
    position: absolute;
    transform: translate(-50% , -50%);
    text-align: center;
    top: 50%;
    left: 50%;

}


.hero .content p{
    font-weight: 200;
   
    font-size: 1.4rem;
    padding-top: 30px;
}
.hero .content .h3{
    font-weight: lighter;
}
.hero .content h3 span{
border-bottom: 4px solid rgb(248,217, 15);
}
.content .btn{
margin: 1rem 0.6rem;
}
@media screen and (max-width:1025px) {
    .hero .content h3{
        font-size: 1rem;
        font-weight: lighter ;
        
        
    }
    .hero .content h3 span{
        border-bottom: 2px solid rgb(248,217, 15);
    }
    .hero .content p{
        
        /* text-transform: uppercase; */
        font-size: 0.9rem;
        padding-top: 30px;
    }
}
@media screen and (max-width:654px) {
    .content .btn{
        padding: 10px;

        }
        .mask img{
            height: 100px;
            /* width: 100%; 
            height: 100%; */
            position:center;
            background-position: center;
            background-size: contain;
             object-fit: center;
            background-position: cover;
            }
}




.svgs{
    height:300px;
}







.sections{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.up{
    height: 50%;
    /* margin: auto; */
    width: 100%;
}
.down{
    /* height: 50%; */
    width: 100%;
    padding: 100px;
    /* margin-top: 6rem; */
}

.down p{
  font-size: 2rem;
  position: relative;
  top: 5rem;
  width: 28rem;
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width:800px) {
  .down p{
    font-size: 1.4rem;
  }
}

.svg{
    width: 20%;
    height: 20%;
    margin-top: -60px;
    /* margin: auto; */
    /* margin-left: -02rem; */
    margin: auto;
    /* margin-top: 0rem; */
    /* position: absolute; */
   
   

}
.svg-container{
    width: 100%;
    height: 100%;
}
/* .svg{
    width: 100px;
} */
/* .svg{
    position: absolute;
    top: -73px;
} */






#eye{
    animation: wing 2s infinite;
}

@keyframes wing {
    0%{
      fill: orange;
    }
    10%{
  fill: #EA2CF8;
    }
    30%{
      fill:#1EF2B4 ;
    }
    50%{
      fill: #1E7FF2;
    }
    70%{
  fill:#CDF21E ;
    }
    90%{
  fill:#F2341E ;
    }
    100%{
  fill: #F2D71E;
    }
  }


  #wings{
    animation: wings 2s infinite;
  }

  @keyframes wings{
    0%{
      fill: #EA2CF8;
    }
    10%{
  
    }
    30%{
      fill: #1E7FF2;
    }
    50%{
      fill: orange;
    }
    70%{
  fill:#1EF2B4 ;
    }
    90%{
  fill:#CDF21E ;
    }
    100%{
  fill:#F2341E ;
    }
  }

  #head{
    animation: colour 5s infinite;
  }

   @keyframes colour {
    0%{

    }
    50%{
     fill: rgb(247, 247, 143); 
    }
    100%{

    }
    
  } 

  
  
  .container-3 {
    position: absolute;
    top: 30%;
    display: flex;
  }
  .column-3 h1 {
    font-weight: bold;
    font-size: 60px;
    
  }

 .column-3 h3 hr{
 color:rgb(248,217, 15) ;
 opacity: 100%;

 }
 .column-3 h3{
  margin-left:28px;
  color: rgb(248,217, 15);
  font-weight: bold;
 }
 
  .column-3 h1 span{
    color: rgb(248,217, 15);
  }
  .column-3 p{
    margin-left: 14px;
    font-family: 'Cabin', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-size:20px;
  }
  .column-3 p span{
    color: rgb(248,217, 15);
  }
  
  .column-3 {
    flex: 1;
    padding: 20px;
    text-align: center;
    /* border: 3px solid red; */
  }

  .column-logo{
    /* border: 2px solid white; */

  }

  .column-logo-div{
    /* border: 2px solid white; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 60px;
    float: right;
    margin-top: -150px;
    /* background-color: white; */
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    animation: rotateCircle 5s linear infinite;
  }

  .male{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
    
    /* height: 400px; */
  }
  @keyframes rotateCircle {
    from {
      transform: rotate(0deg); /* Starting point of rotation */
    }
    to {
      transform: rotate(360deg); /* Ending point of rotation (360 degrees for one full rotation) */
    }
  }
  
  
  .column-3 img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {

    .column-3 h3 {
      margin-left: 60px;
      color: rgb(248,217, 15);
      font-weight: bold;
      font-size: 23px;
  }

  .male {
    margin-top: -41px;
    top: -40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}


.column-logo-div {
  /* border: 2px solid white; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 0px;
  float: right;
  margin-top: -130px;
  /* background-color: white; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotateCircle 5s linear infinite;
}
     .column-3 h1 {
      font-weight: bold;
      font-size: 38px;
  }

  .column-3 p {
    margin-left: 14px;

    font-size: 13px;
}
     .container-3 {
      flex-direction: column;
      position: absolute;
      top: 8%;
      display: flex;
  }
  
    .column-3 {
      flex: none;
      width: 100%;
      
    }
  }
  
  .music{
    /* border: 4px solid white; */
    width: 99px;
    float: left;
    margin-left: 40px;
    margin-top: -100px;
  }
  .music p{
    font-size: 13px;
  }


  

#soundButton {
  font-size: 24px;
  transition: all 0.3s ease;
  background: transparent;
  border: none;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color:#64ffd9 ;
  margin-right: 5px;
  transition: height 0.3s ease; /* Only apply transition to height */
}